<%- include('header') %>
<div class="container">
  <h1><%=title%></h1>
  <a href="/profile">Profile</a>
</div>
<%  const keys = Object.keys(accounts);
    keys.forEach(key => {%>
      <%-include('summary',{account: accounts[key]})%>
<%})%>
<br />
  <a href="/transfer">Transfer</a>
<%- include('footer') %>